<div class="auth-container">
    <h2>Entrar</h2>
    <form action="/login" method="POST" onsubmit="return validateIdentifierInput()">
        <div class="form-control">
            <label for="identification">Número identificador:</label>
            <input type="text" name="identification" placeholder="Composto por 6 digitos númericos ex: 101026" id="identifierField" required>
            <p></p>
        </div>
            <div class="form-control">
            <label for="password">Senha:</label>
            <input type="password" name="password" placeholder="Digite a sua senha">
        </div>
        <input type="submit" value="Entrar">
    </form>
</div>