<div class="auth-container">
    <h2>Entrar</h2>
    <form action="/login" method="POST">
        <div class="form-control">
            <label for="identification">Número identificador:</label>
            <input type="identification" name="identification" placeholder="Ex: 111111">
        </div>
            <div class="form-control">
            <label for="password">Senha:</label>
            <input type="password" name="password" placeholder="Digite a sua senha">
        </div>
        <input type="submit" value="Entrar">
    </form>
</div>