<div class="auth-container">
    <h2>Registrar Colaborador</h2>
    <form action="/register" method="POST">
        <div class="form-control">
            <label for="text">Nome:</label>
            <input type="name" name="name" placeholder="Ex: Maria" required>
        </div>
        <div class="form-control">
            <label for="identification">Número de identificação:</label>
            <input type="text" name="identification" placeholder="Ex: 101026" required>
        </div>
            <div class="form-control">
            <label for="password">Senha:</label>
            <input type="password" name="password" placeholder="Digite uma senha" required>
        </div>
        <div class="form-control">
            <label for="confirmpassword">Confirmação de senha:</label>
            <input type="password" name="confirmpassword" placeholder="Confirme senha" required>
        </div>
        <input type="submit" value="Cadastrar">
    </form>
</div>