<div class="task-form-container">
  <a href="/tasks/dashboard">Voltar</a>
    <h1>Criando uma tarefa:</h1>
    <form action="/tasks/add" method="POST">
        <div class="form-control">
            <label for="title">Título:</label>
            <input type="text" name="title" placeholder="Ex: Organizar parafusos...">
        </div>
        <input type="submit" value="Criar Tarefa">
    </form>
</div>