<div class="task-form-container">
    <h2>Criando uma tarefa:</h2>
    <form action="/tasks/add" method="POST">
        <div class="form-control">
            <label for="title">Título:</label>
            <input type="text" name="title" placeholder="Ex: Organizar parafusos...">
        </div>
        <div class="form-control">
            <label for="description">Descrição:</label>
            <textarea type="text" name="description" placeholder="Faça uma descrição da tarefa, se necessário."></textarea>
        </div>
        <input type="submit" value="Criar Tarefa">
    </form>
</div>