<div class="dashboard">
    <div class="title-container">
        <h2>Dashboard</h2>
        <a href="/tasks/add" class="btn">Criar Tarefa</a>
    </div>
    <h3>Tarefas criadas por você:</h3>
    <ul>
        {{#each tasks}}
            <li>
                <div>
                    <span class="label">{{this.title}}</span>
                    <h4>Descrição:</h4>
                    <p>
                        {{this.description}}
                    </p>
                </div>
                <span class="actions">
                    <a href="/tasks/edit/{{this.id}}" class="btn">Editar</a>
                    <form action="/tasks/remove" method="POST" onsubmit="return validateTask()">
                        <input type="hidden" name="id" value="{{this.id}}">
                        <input type="submit" value="Excluir" class="btn">
                    </form>
                </span>
            </li>
        {{/each}}
    </ul>
    {{#if emptyTasks}}
        <p>Você ainda não criou nenhuma tarefa, crie uma <a href="/tasks/add">clicando aqui</a></p>
    {{/if}}
</div>